/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ac4142;
$alto: #ebdbb2;
$bouquet: #b16286;
$chelsea-cucumber: #8ec07c;
$cod-grey: #151515;
$conifer: #98971a;
$dove-grey: #cc241d;
$gallery: #fbf1c7;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #d65d0e;
$rajah: #fe8019;
$raw-sienna: #d28445;
$silver-chalice: #a89984;
